<!DOCTYPE html>
{% raw %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{cookiecutter.description}}">
		<meta name="author" content="{{cookiecutter.author}}">
        <meta name="keywords" content="http caching, 304, cache, cache-control, expires">
        <meta name="copyright" content="Copyright 2010-2015">
        <meta name="revisit-after" content="3 DAYS">
        <meta name="robots" content="All">
        <title>{% block title %}{{ siteName }}{% endblock %}</title>
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" >
        <link href="{{ STATIC_URL }}css/bootstrap-theme.css" rel="stylesheet" >
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	    <link href="{{ STATIC_URL }}css/{% endraw %}{{cookiecutter.repo_name}}{% raw %}.css" rel="stylesheet" >
        {% block head %}{% endblock head %}
        <script type="text/javascript">
          var _gaq = _gaq || [];

          _gaq.push(['_setAccount', '{{ UA_YOUR }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body id="page-top" data-target=".navbar-custom">

{% autoescape on %}

{% load i18n %}

{% block body %}

    {% load site_tags %}

    {% nav_header %}

    {% block content_header %}{% endblock content_header %}
    <a id="toTop" href="#top"><span id="toTopHover"></span><i class="fa fa-angle-double-up"></i></a>

    {% block content %}{% endblock content %}

{% endblock body %}

{% endautoescape %}

{% nav_footer %}
		<script src="{{ STATIC_URL }}js/jquery-2.1.0.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
		<script src="{{ STATIC_URL }}js/{% endraw %}{{cookiecutter.repo_name}}{% raw %}.js"></script>
    </body>
</html>
{% endraw %}
